.image-container { display: flex;width:60px;height:53px;text-align: center;} .image-container img { height:250%;list-style-image:#CBCDDF;margin: 17px;border: solid #F3F4FF;border-radius: 20%; margin-left: 630px;} 
 
.header{height: 100px; background-image:linear-gradient(145deg,#7379ff,#b524ef);color:red;text-align:center;}  

  

.body {

  font-family: sans-serif;
  background-color: powderblue;
  
  

}

.container {
  display: flex;
  padding-top: 100px;
  padding-left: 100px;
  width: 5000px;
  height: 600px;
  
}
#nav-bar {
  background-color: #52057b;
  position: sticky;
  top: 0;
  z-index: 10;
  float: right;
}

.nav-link:hover {
  background-color: #3f51b5;
}

.navbar {

  padding: 0 !important;
}

navbar-brand img {
  height: 40px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff;
  font-size: 30p !important;
}

.navbar-toggler {
  outline: none !important;
}

.footer{ background-image:linear-gradient(145deg,#7379ff,#b524ef);color:white;text-align:center;padding:10px;}

h1{
  color: #b524ef;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  width: 100px;
  margin-left: 50px;
  margin-top: 70px;
}

span{
  color: #7379ff;
}
.terms{
  width: 300px;
  margin: auto;
}
.credit{
  float: left;
  width: 500px;
}
.contact{
  margin: 10px;
}
